<!DOCTYPE html>
<html>

<head>
  <%- include('_header') %>
  <title><%= title %></title>
</head>

<body>
  <%- include('_navbar') %>
  <main class="main">
    <div class="reset-password-form">
      <h2 class="heading-secondary ma-bt-lg">Reset your password</h2>
      <form class="form form--reset-password">
        <div class="form__group">
          <label class="form__label" for="password">New password</label>
          <input id="password" class="form__input" type="password" placeholder="••••••••" name="password" required minlength="8">
        </div>
        <div class="form__group ma-bt-md">
          <label class="form__label" for="password-confirm">Confirm your new password</label>
          <input id="passwordConfirm" class="form__input" type="password" placeholder="••••••••" name="passwordConfirm" required minlength="8">
        </div>
        <div class="form__group">
          <input type="hidden" id="token" name="token" value="<%= token %>">
          <button class="btn btn--green" type="submit">Reset password</button>
      </form>
    </div>
  </main>

  <%- include('_footer') %>
  <script type="module" src="js/bundle.js"></script>
  <script src="/js/themetoggle.js"></script>


</body>

</html>